<div  class="card alb-card-style-1">
    
    <img class="card-img-top" style="width: max; height: 12rem;" src="{{album.images[0].url}}" alt="Card image cap">
   
    <div class="card-body">
      <h5 class="card-title">{{album.name}}</h5>
    
       <h4 class="alb-card-style-1-1" > 
        {{album.artists[0].name}} <br>
        {{album.release_date}} <br><br>
        {{album.total_tracks}} tracks</h4>

    </div>

        <div>  <a href="{{album.artists[0].external_urls.spotify}}" 
            class="btn btn-success alb-card-style-1-2" >
            Preview On Spotify</a>  
        </div>
</div> 