.alb-card-style-1{

    width: 14rem; 
    height: 24rem; 
    margin:auto ; 
    margin-bottom: 3rem;  border-color: rgb(150, 167, 152);
}

.alb-card-style-1-1{
    font-size: 0.8em; 
    color: rgb(113, 131, 79);
}

.alb-card-style-1-2{

    width: 14rem; height: 2.5rem;

}